@charset "utf-8";

$wrapper-width: 1360px;
$md-break: 1024px;
$sm-break: 767.98px;
$font-sans: "Helvetica Neue", "Noto Sans JP", "游ゴシック体", yugothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
$font-noto: "Noto Sans JP", sans-serif;
$font-helvetica: "Helvetica", "Arial", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-size-pc: 0.18rem;
$font-size-sp: 0.16rem;
$font-weight: 400;
$line-height-pc: 2;
$line-height-sp: calc(25.6 / 16);
$color-default: #1f4062;
$color-white: #fff;
$color-grey: #f7f8fa;
$color-dark: #15263c;
$color-blue: #0276f1;
