{{ define "main" }}
{{ partial "keyvisual.html" . }}
<section class="section-about" aria-label="Section About">
  <div class="wrapper block-common-about">
    <div class="about-block">
      <h2 class="about-title">独自の価値観で強力に繋がり、チーム・組織の力を最大限に発揮します</h2>
      <ul class="list-common-introduction is-modify" aria-label="List Introduction">
        <li class="introduction-item"><a class="introduction-inner" href="/about/outline/">
            <div class="introduction-image">
              <figure><img class="image-common md" src="/img/common/about_img_01.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_01.jpg" width="100" height="100" alt="" loading="lazy"></figure>
            </div>
            <p class="introduction-text">会社概要</p></a></li>
        <li class="introduction-item"><a class="introduction-inner" href="/about/mvc/">
            <div class="introduction-image">
              <figure><img class="image-common md" src="/img/common/about_img_02.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_02.jpg" width="100" height="100" alt="" loading="lazy"></figure>
            </div>
            <p class="introduction-text">ミッション・ビジョン・行動規範</p></a></li>
      </ul>
    </div>
    <div class="about-block">
      <ul class="list-common-introduction" aria-label="List Introduction">
        <li class="introduction-item"><a class="introduction-inner" href="/about/message/">
            <div class="introduction-image">
              <figure><img class="image-common md" src="/img/common/about_img_03.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_03.jpg" width="100" height="100" alt="" loading="lazy"></figure>
            </div>
            <p class="introduction-text">代表あいさつ</p></a></li>
        <li class="introduction-item"><a class="introduction-inner" href="/about/executive/">
            <div class="introduction-image">
              <figure><img class="image-common md" src="/img/common/about_img_04.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_04.jpg" width="100" height="100" alt="" loading="lazy"></figure>
            </div>
            <p class="introduction-text">役員・チーム紹介</p></a></li>
        <li class="introduction-item"><a class="introduction-inner" href="/about/history/">
            <div class="introduction-image">
              <figure><img class="image-common md" src="/img/common/about_img_05.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_05.jpg" width="100" height="100" alt="" loading="lazy"></figure>
            </div>
            <p class="introduction-text">カラクルの歩み</p></a></li>
      </ul>
    </div>
  </div>
</section>
{{ end }}