<footer>
  <div class="wrapper">
    <div class="footer-wrapper">
      <div class="footer-information"><a class="trans footer-logo" href="/"><img class="image-common" src="/img/common/footer_logo.svg" width="362" height="80" alt="Colorkrew" loading="lazy"></a><a class="navigation-request-button tb-sm" href="/contact/"><span class="button-text">WEBからのお問い合わせ</span><span class="button-more">(24時間受付中)</span></a>
        <ul class="navigation-list tb-sm">
          <li class="navigation-item tb-sm"><a class="navigation-link trans-link" href="/">ホーム</a></li>
          <li class="navigation-item js-accordion"><a class="navigation-link is-accordion trans-link" href="/about/"><span class="navigation-link-text">カラクルについて</span></a>
            <div class="navigation-accordion tb-sm"><span class="accordion-button js-accordion-heading"></span>
              <ul class="accordion-list js-accordion-content">
                <li class="accordion-item"><a class="accordion-link trans-link" href="/about/outline/">会社概要</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="/about/mvc/">ミッション・ビジョン・行動規範</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="/about/message/">代表あいさつ</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="/about/executive/">役員・チーム紹介</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="/about/history/">カラクルの歩み</a></li>
              </ul>
            </div>
          </li>
          <li class="navigation-item"><a class="navigation-link trans-link" href="/product/">プロダクト・サービス</a></li>
          <li class="navigation-item md-tb"><a class="navigation-link trans-link" href="#">採用</a></li>
          <li class="navigation-item js-accordion tb-sm"><a class="navigation-link is-accordion trans-link" href="https://recruit.colorkrew.com/?utm_source=isaocorp-header&amp;utm_medium=referral&amp;utm_campaign=owned" target="_blank" rel="noopener"><span class="navigation-link-text">採用情報</span></a>
            <div class="navigation-accordion"><span class="accordion-button js-accordion-heading"></span>
              <ul class="accordion-list js-accordion-content">
                <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">新卒採用</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">キャリア(中途)採用</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">- 募集職種一覧</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/culture/" target="_blank" rel="noopener">- エンジニア開発チーム</a></li>
                <li class="accordion-item"><a class="accordion-link trans-link" href="https://blog.colorkrew.com/" target="_blank" rel="noopener">- 公式Blog</a></li>
              </ul>
            </div>
          </li>
          <li class="navigation-item"><a class="navigation-link trans-link" href="/news/">ニュース</a></li>
        </ul>
        <div class="language-wrap js-click-active" tabindex="-1">
          <p class="language-heading" data-click-action="toggle">JP</p>
          <ul class="language-content">
            <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close">日本語</a></li>
            <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close" lang="en">English</a></li>
            <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close" lang="pt-br">Portuguese</a></li>
            <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close" lang="ko">한국어</a></li>
          </ul>
        </div>
        <div class="footer-follow">
          <p class="information-title">Follow us</p>
          <ul class="footer-follow-list">
            <li class="follow-item"><a class="trans follow-image" href="https://www.facebook.com/colorkrew/" target="_blank" rel="noopener"><img class="image-common" src="/img/common/icn_facebook.svg" width="36" height="36" alt="Facebook" loading="lazy"></a></li>
            <li class="follow-item"><a class="trans follow-image" href="https://twitter.com/colorkrew" target="_blank" rel="noopener"><img class="image-common" src="/img/common/icn_x.svg" width="36" height="36" alt="X" loading="lazy"></a></li>
            <li class="follow-item"><a class="trans follow-image" href="https://www.instagram.com/colorkrew/" target="_blank" rel="noopener"><img class="image-common" src="/img/common/icn_instagram.svg" width="36" height="36" alt="Instagram" loading="lazy"></a></li>
            <li class="follow-item"><a class="trans follow-image" href="https://www.linkedin.com/company/colorkrew?originalSubdomain=jp" target="_blank" rel="noopener"><img class="image-common" src="/img/common/icn_linkedin.svg" width="36" height="36" alt="Linkedin" loading="lazy"></a></li>
          </ul>
        </div>
        <div class="footer-notice">
          <p class="information-title">Notice</p>
          <ul class="footer-notice-list">
            <li class="notice-item"><a class="trans-link notice-link" href="/policy/privacypolicy/">プライバシーポリシー</a></li>
            <li class="notice-item"><a class="trans-link notice-link" href="/policy/sitepolicy/">サイトポリシー</a></li>
            <li class="notice-item"><a class="trans-link notice-link" href="/policy/securitypolicy/">セキュリティポリシー</a></li>
          </ul>
        </div>
        <div class="footer-certification">
          <ul class="footer-certification-list">
            <li class="certification-item">
              <figure class="certification-image"><img class="md-tb" src="/img/common/certification_img_01.png" width="95" height="89" alt="たいせつにしますプライバシー 10820647(08)" loading="lazy"><img class="tb-sm" src="/img/common/sp/certification_img_01.png" width="84" height="79" alt="たいせつにしますプライバシー 10820647(08)" loading="lazy"></figure>
            </li>
            <li class="certification-item">
              <figure class="certification-image"><img class="md-tb" src="/img/common/certification_img_02.png" width="122" height="89" alt="ISO/IEC27001" loading="lazy"><img class="tb-sm" src="/img/common/sp/certification_img_02.png" width="108" height="79" alt="ISO/IEC27001" loading="lazy"></figure>
            </li>
            <li class="certification-item">
              <figure class="certification-image"><img class="md-tb" src="/img/common/certification_img_03.png" width="129" height="89" alt="ICMS-PCI 0311/PCI DSS" loading="lazy"><img class="tb-sm" src="/img/common/sp/certification_img_03.png" width="114" height="79" alt="ICMS-PCI 0311/PCI DSS" loading="lazy"></figure>
            </li>
          </ul>
          <p class="certification-text">※ISMS適用範囲くらまねPMO、Colorkrew Biz、営業、コーポレート</p>
        </div><small class="footer-copyright">© 2024 Colorkrew Inc.</small>
      </div>
      <div class="footer-sitemap md-tb"><a class="sitemap-button" href="/contact/"><span class="sitemap-button-title">WEBからのお問い合わせ</span><span class="sitemap-button-text">24時間受付中</span></a>
        <ul class="footer-sitemap-list">
          <li class="sitemap-row">
            <div class="row-wrap"><a class="trans-link sitemap-title" href="/">ホーム</a></div>
            <div class="row-wrap"><a class="trans-link sitemap-title" href="/product/">プロダクト・サービス</a></div>
            <div class="row-wrap"><a class="trans-link sitemap-title" href="/news/">ニュース</a></div>
          </li>
          <li class="sitemap-row"><a class="trans-link sitemap-title" href="/about/">カラクルについて</a>
            <ul class="sitemap-row-list">
              <li class="row-item"><a class="trans-link row-link" href="/about/outline/">会社概要</a></li>
              <li class="row-item"><a class="trans-link row-link" href="/about/mvc/">ミッション・ビジョン・行動規範</a></li>
              <li class="row-item"><a class="trans-link row-link" href="/about/message/">代表の挨拶</a></li>
              <li class="row-item"><a class="trans-link row-link" href="/about/executive/">役員・チーム紹介</a></li>
              <li class="row-item"><a class="trans-link row-link" href="/about/history/">会社沿革</a></li>
            </ul>
          </li>
          <li class="sitemap-row"><a class="trans-link sitemap-title" href="https://recruit.colorkrew.com/?utm_source=isaocorp-header&amp;utm_medium=referral&amp;utm_campaign=owned" target="_blank" rel="noopener">採用</a>
            <ul class="sitemap-row-list">
              <li class="row-item"><a class="trans-link row-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">新卒採用</a></li>
              <li class="row-item"><a class="trans-link row-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">キャリア(中途)採用</a></li>
              <li class="row-item"><a class="trans-link row-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">- 募集職種一覧</a></li>
              <li class="row-item"><a class="trans-link row-link" href="https://recruit.colorkrew.com/culture/" target="_blank" rel="noopener">- エンジニア開発チーム</a></li>
              <li class="row-item"><a class="trans-link row-link" href="https://blog.colorkrew.com/" target="_blank" rel="noopener">- 公式Blog</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>