<header class="is-on-top">
  <div class="wrapper">
    <div class="header-inner"><a class="header-logo trans" href="/"><img class="image-common" src="/img/common/header_logo.svg" width="216" height="50" alt="Colorkrew" loading="eager"></a>
      <div class="button-header-burger tb-sm js-button-menu"><span class="burger-line"></span><span class="burger-line"></span><span class="burger-line"></span></div>
      <nav class="header-navigation js-navigation">
        <div class="navigation-inner load">
          <div class="navigation-container">
            <div class="navigation-wrapper">
              <ul class="navigation-list">
                <li class="navigation-item tb-sm"><a class="navigation-link trans-link" href="/">ホーム</a></li>
                <li class="navigation-item js-accordion"><a class="navigation-link is-accordion trans-link md-tb" href="/about/"><span class="navigation-link-text">カラクルについて</span></a><a class="navigation-link is-accordion trans-link tb-sm" href="/about/"><span class="navigation-link-text">カラクルについて</span></a>
                  <div class="navigation-accordion tb-sm"><span class="accordion-button js-accordion-heading"></span>
                    <ul class="accordion-list js-accordion-content">
                      <li class="accordion-item"><a class="accordion-link trans-link" href="/about/outline/" tabindex="-1">会社概要</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="/about/mvc/" tabindex="-1">ミッション・ビジョン・行動規範</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="/about/message/" tabindex="-1">代表あいさつ</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="/about/executive/" tabindex="-1">役員・チーム紹介</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="/about/history/" tabindex="-1">カラクルの歩み</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navigation-item"><a class="navigation-link trans-link" href="/product/">プロダクト・サービス</a></li>
                <li class="navigation-item md-tb"><a class="navigation-link trans-link" href="https://recruit.colorkrew.com/?utm_source=isaocorp-header&amp;utm_medium=referral&amp;utm_campaign=owned" target="_blank" rel="noopener">採用</a></li>
                <li class="navigation-item js-accordion tb-sm"><a class="navigation-link is-accordion trans-link" href="https://recruit.colorkrew.com/?utm_source=isaocorp-header&amp;utm_medium=referral&amp;utm_campaign=owned" target="_blank" rel="noopener"><span class="navigation-link-text">採用情報</span></a>
                  <div class="navigation-accordion"><span class="accordion-button js-accordion-heading"></span>
                    <ul class="accordion-list js-accordion-content">
                      <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener" tabindex="-1">新卒採用</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener" tabindex="-1">キャリア(中途)採用</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener" tabindex="-1">- 募集職種一覧</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="https://recruit.colorkrew.com/culture/" target="_blank" rel="noopener" tabindex="-1">- エンジニア開発チーム</a></li>
                      <li class="accordion-item"><a class="accordion-link trans-link" href="https://blog.colorkrew.com/" target="_blank" rel="noopener" tabindex="-1">- 公式Blog</a></li>
                    </ul>
                  </div>
                </li>
                <li class="navigation-item"><a class="navigation-link trans-link" href="/news/">ニュース</a></li>
              </ul>
            </div><a class="navigation-button md-tb" href="/contact/">お問い合わせ</a>
            <div class="language-wrap js-click-active" tabindex="-1">
              <p class="language-heading" data-click-action="toggle">JP</p>
              <ul class="language-content">
                <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close">日本語</a></li>
                <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close" lang="en">English</a></li>
                <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close" lang="pt-br">Portuguese</a></li>
                <li class="language-text"><a class="language-link trans-link" href="#" data-click-action="close" lang="ko">한국어</a></li>
              </ul>
            </div><a class="navigation-request-button tb-sm" href="/contact/"><span class="button-text">WEBからのお問い合わせ</span><span class="button-more">(24時間受付中)</span></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>