<div class="list-news-shared">
  <ul class="list-wrapper">
    <li class="list-item"><a class="item-wrapper trans" href="#"><img src="/img/common/icon_shared_01.png" width="91" height="30" loading="lazy" alt="Facebook"></a></li>
    <li class="list-item"><a class="item-wrapper trans" href="#" target="_blank" rel="noopener"><img src="/img/common/icon_shared_02.png" width="73" height="30" loading="lazy" alt="Facebook"></a></li>
    <li class="list-item"><a class="item-wrapper trans" href="#" target="_blank" rel="noopener"><img src="/img/common/icon_shared_03.png" width="81" height="30" loading="lazy" alt="LinkedIn"></a></li>
    <li class="list-item"><a class="item-wrapper trans" href="#" target="_blank" rel="noopener"><img src="/img/common/icon_shared_04.png" width="87" height="30" loading="lazy" alt="Twitter"></a></li>
    <li class="list-item"><a class="item-wrapper trans" href="#" target="_blank" rel="noopener"><img src="/img/common/icon_shared_05.png" width="135" height="30" loading="lazy" alt="B! ブックマーク"></a></li>
    <li class="list-item"><a class="item-wrapper trans" href="#" target="_blank" rel="noopener"><img src="/img/common/icon_shared_06.png" width="105" height="30" loading="lazy" alt="Line"></a></li>
  </ul>
</div>