{{ define "main" }}
  <section class="section-top-keyvisual" aria-label="Keyvisual">
    <div class="wrapper">
      <div class="keyvisual-content">
        <h1 class="keyvisual-title load"><strong class="title-strong">Work SaaS</strong>で<br>
          <mark class="title-mark">もっと価値ある</mark><br>シゴトを。
        </h1>
        <p class="keyvisual-text load">Colorkrewは、「シゴトをワクワクさせる」ために、世界中から集まったメンバーが革新的ITサービスを創出します。</p>
      </div>
      <figure class="keyvisual-image"><img class="image-common md" src="/img/top/keyvisual_img_01.jpg" width="877" height="737" alt="Work SaaSでもっと価値あるシゴトを。" loading="eager"><img class="image-common sm" src="/img/top/sp/keyvisual_img_01.jpg" width="375" height="240" alt="Work SaaSでもっと価値あるシゴトを。" loading="eager"></figure>
    </div>
    {{ partial "top/latest.html" . }}
  </section>
  <section class="section-top-product" aria-label="Section Product">
    <div class="wrapper">
      <h2 class="title-common-primary">プロダクト・サービス</h2>
      <div class="product-heading">
        <h3 class="heading-title">プロダクト</h3>
        <p class="heading-text">Colorkrew IDによって、組織全体や部門単位での導入が可能となり、すべてのプロダクトを一括管理できます。</p>
      </div>
      <ul class="product-list">
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-intra">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_01.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_01.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_01.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_01.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew Intra</h4>
              <p class="item-text">すべての仕事はここから。All work begins here</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-biz">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_02.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_02.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_02.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_02.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew Biz</h4>
              <p class="item-text">“名もなき仕事”を減らす 総務Techサービス</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-workflows">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_03.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_03.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_03.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_03.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew Workflows</h4>
              <p class="item-text">キャッチコピーキャッチコピーキャッチコピー</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-id">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_04.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_04.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_04.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_04.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew ID</h4>
              <p class="item-text">あなたの組織をもっとカラフルに。横断的・柔軟・一括管理。</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-security">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_05.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_05.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_05.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_05.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew Security</h4>
              <p class="item-text">この内容はダミーです。文字の大きさ、量、字間、行間等</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-aichat">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_06.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_06.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_06.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_06.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew AIChat</h4>
              <p class="item-text">この内容はダミーです。文字の大きさ、量、字間、行間等</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#colorkrew-quiz">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_07.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_07.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_07.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_07.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Colorkrew Quiz</h4>
              <p class="item-text">この内容はダミーです。文字の大きさ、量、字間、行間等</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner is-modify" href="/product/#adv">
            <div class="item-figure">
              <figure><img class="image-common md" src="/img/top/product_img_logo_08.png" width="582" height="60" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_08.png" width="295" height="30" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">AVD時間割ソリューション</h4>
              <p class="item-text">大学向けAVDの課題解決</p>
            </div></a></li>
        <li class="product-item"><a class="item-inner" href="/product/#goalous">
            <div class="item-image">
              <figure class="item-logo"><img class="image-common md" src="/img/top/product_img_logo_09.png" width="210" height="90" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_logo_09.png" width="108" height="50" alt="" loading="lazy"></figure>
              <figure class="item-device"><img class="image-common md" src="/img/top/product_img_09.png" width="396" height="250" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/product_img_09.png" width="207" height="130" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h4 class="item-title">Goalous</h4>
              <p class="item-text">チームの力を高める HR Techサービス</p>
            </div></a></li>
      </ul>
      <div class="product-button"><a class="button-common-primary" href="/product/#product">プロダクト一覧へ</a></div>
    </div>
  </section>
  <section class="section-top-service" aria-label="Section Service">
    <div class="wrapper">
      <h2 class="title-common-primary is-original">サービス</h2>
      <p class="service-text">「受託開発」、「クラウド（インフラ）構築」、「セキュリティ/システム運用監視」でシゴトの基盤を支えます</p>
      <ul class="service-list">
        <li class="service-item"><a class="item-inner" href="/product/#service-contract">
            <div class="item-image">
              <figure><img class="image-common md" src="/img/top/service_img_01.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/service_img_01.jpg" width="345" height="141" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h3 class="item-title">ソフトウェア開発/運用</h3>
              <p class="item-text">PoC開発支援</p>
            </div></a></li>
        <li class="service-item"><a class="item-inner" href="/product/#service-construction">
            <div class="item-image">
              <figure><img class="image-common md" src="/img/top/service_img_02.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/service_img_02.jpg" width="345" height="141" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h3 class="item-title">クラウド構築/運用</h3>
              <p class="item-text">クラウド環境の設計・構築・運用支援</p>
            </div></a></li>
        <li class="service-item"><a class="item-inner" href="/product/#service-security">
            <div class="item-image">
              <figure><img class="image-common md" src="/img/top/service_img_03.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/top/sp/service_img_03.jpg" width="345" height="141" alt="" loading="lazy"></figure>
            </div>
            <div class="item-content">
              <h3 class="item-title">セキュリティ導入/運用</h3>
              <p class="item-text">セキュリティ対策・運用支援</p>
            </div></a></li>
      </ul>
      <div class="service-button"><a class="button-common-primary" href="/product/#service">サービス一覧へ</a></div>
    </div>
  </section>
  <section class="section-top-about" aria-label="Section About">
    <h2 class="title-common-primary">カラクルについて</h2>
    <div class="wrapper block-common-about">
      <div class="about-block">
        <p class="about-title">カラフルなチームが、<br>ITの「カラクリ」をうみだし<br class="sm">世界中にとどけます</p>
        <ul class="list-common-introduction is-modify" aria-label="List Introduction">
          <li class="introduction-item"><a class="introduction-inner" href="/about/outline/">
              <div class="introduction-image">
                <figure><img class="image-common md" src="/img/common/about_img_01.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_01.jpg" width="100" height="100" alt="" loading="lazy"></figure>
              </div>
              <p class="introduction-text">会社概要</p></a></li>
          <li class="introduction-item"><a class="introduction-inner" href="/about/mvc/">
              <div class="introduction-image">
                <figure><img class="image-common md" src="/img/common/about_img_02.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_02.jpg" width="100" height="100" alt="" loading="lazy"></figure>
              </div>
              <p class="introduction-text">ミッション・ビジョン・行動規範</p></a></li>
        </ul>
      </div>
      <div class="about-block">
        <ul class="list-common-introduction" aria-label="List Introduction">
          <li class="introduction-item"><a class="introduction-inner" href="/about/message/">
              <div class="introduction-image">
                <figure><img class="image-common md" src="/img/common/about_img_03.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_03.jpg" width="100" height="100" alt="" loading="lazy"></figure>
              </div>
              <p class="introduction-text">代表あいさつ</p></a></li>
          <li class="introduction-item"><a class="introduction-inner" href="/about/executive/">
              <div class="introduction-image">
                <figure><img class="image-common md" src="/img/common/about_img_04.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_04.jpg" width="100" height="100" alt="" loading="lazy"></figure>
              </div>
              <p class="introduction-text">役員・チーム紹介</p></a></li>
          <li class="introduction-item"><a class="introduction-inner" href="/about/history/">
              <div class="introduction-image">
                <figure><img class="image-common md" src="/img/common/about_img_05.jpg" width="432" height="189" alt="" loading="lazy"><img class="image-common sm" src="/img/common/sp/about_img_05.jpg" width="100" height="100" alt="" loading="lazy"></figure>
              </div>
              <p class="introduction-text">カラクルの歩み</p></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-top-recruitment" aria-label="Section Recruitment">
    <div class="wrapper">
      <h2 class="title-common-secondary">採用</h2>
      <div class="recruitment-list">
        <div class="recruitment-item">
          <figure class="item-thumbnail"><img class="object-common md" src="/img/top/recruitment_img_01.jpg" alt="採用" width="369" height="247" loading="lazy"><img class="object-common sm" src="/img/top/sp/recruitment_img_01.jpg" alt="採用" width="188" height="125" loading="lazy"></figure>
        </div>
        <div class="recruitment-item">
          <figure class="item-thumbnail"><img class="object-common md" src="/img/top/recruitment_img_02.jpg" alt="23°33’17.0”S 46°39’43.0”W BRAZIL" width="311" height="207" loading="lazy"><img class="object-common sm" src="/img/top/sp/recruitment_img_02.jpg" alt="23°33’17.0”S 46°39’43.0”W BRAZIL" width="188" height="125" loading="lazy"></figure>
          <div class="item-information">
            <h3 class="information-title md">23°33’17.0”S 46°39’43.0”W BRAZIL</h3>
          </div>
        </div>
        <div class="recruitment-item">
          <figure class="item-thumbnail"><img class="object-common md" src="/img/top/recruitment_img_03.jpg" alt="35°42’27.0”N 139°47’06.6”E TOKYO,JAPAN" width="432" height="288" loading="lazy"><img class="object-common sm" src="/img/top/sp/recruitment_img_03.jpg" alt="35°42’27.0”N 139°47’06.6”E TOKYO,JAPAN" width="375" height="250" loading="lazy"></figure>
          <div class="item-information">
            <h3 class="information-title md">35°42’27.0”N 139°47’06.6”E TOKYO,JAPAN</h3>
          </div>
        </div>
        <div class="recruitment-item">
          <figure class="item-thumbnail"><img class="object-common md" src="/img/top/recruitment_img_04.jpg" alt="採用" width="403" height="268" loading="lazy"><img class="object-common sm" src="/img/top/sp/recruitment_img_04.jpg" alt="採用" width="375" height="250" loading="lazy"></figure>
        </div>
        <div class="recruitment-item md">
          <figure class="item-thumbnail"><img class="object-common" src="/img/top/recruitment_img_05.jpg" alt="52°12’19.9”N 0°06’47.9”E UK" width="282" height="188" loading="lazy"></figure>
          <div class="item-information">
            <h3 class="information-title">52°12’19.9”N 0°06’47.9”E UK</h3>
          </div>
        </div>
      </div>
      <div class="list-top-recruitment">
        <ul class="list-wrapper">
          <li class="item-wrapper"><a class="item-information trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">
              <p class="information-title">新卒採用</p></a></li>
          <li class="item-wrapper"><a class="item-information trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">
              <p class="information-title">キャリア(中途)採用</p></a></li>
          <li class="item-wrapper"><a class="item-information trans-link" href="https://recruit.colorkrew.com/recruit/" target="_blank" rel="noopener">
              <p class="information-title">募集職種一覧</p></a></li>
          <li class="item-wrapper"><a class="item-information trans-link" href="https://recruit.colorkrew.com/culture/" target="_blank" rel="noopener">
              <p class="information-title">エンジニア開発チーム</p></a></li>
          <li class="item-wrapper"><a class="item-information trans-link" href="https://blog.colorkrew.com/" target="_blank" rel="noopener">
              <p class="information-title">公式ブログ</p></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-top-news" aria-label="Section News">
    <div class="wrapper">
      <h2 class="title-common-primary">ニュース</h2>
      {{ partial "top/list.html" . }}
      <div class="news-button"><a class="button-common-primary" href="/news/">ニュース一覧へ</a></div>
    </div>
  </section>
{{ end }}