{{ define "main" }}
{{ partial "keyvisual.html" . }}
  <section class="section-contact-requirement">
    <div class="wrapper">
      <h2 class="title-common-primary">フォーム</h2>
      <p class="text-common-secondary">ご要件にあった項目をご選択ください。</p>
      <ul class="requirement-list">
        <li class="requirement-item">
          <a class="item-inner" href="../contact/proposal/">
            <figure class="item-image"><img class="image-common" src="../img/contact/requirement_icn_01.svg" width="48" height="48" alt="" loading="eager"></figure>
            <div class="item-content">
              <h3 class="item-title">カラクルへのご提案</h3>
              <p class="item-text">ご提案の内容を選択してお問い合わせください。</p>
            </div>
          </a>
        </li>
        <li class="requirement-item">
          <a class="item-inner" href="../contact/media/">
            <figure class="item-image"><img class="image-common" src="../img/contact/requirement_icn_02.svg" width="48" height="48" alt="" loading="eager"></figure>
            <div class="item-content">
              <h3 class="item-title">取材申し込み</h3>
              <p class="item-text">カラクルへの取材申し込み・報道関係のお問い合わせはこちらからご連絡ください。</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-contact-products">
    <div class="wrapper">
      <h2 class="title-common-primary">プロダクト・サービス</h2>
      <p class="text-common-secondary">プロダクト・サービスについては、専用サイトから直接お問い合わせください。</p>
      <ul class="products-list">
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-intra">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_01.png" width="348" height="90" alt="Colorkrew Intra" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-biz">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_02.png" width="348" height="90" alt="Colorkrew Biz" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-workflows">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_03.png" width="348" height="90" alt="Colorkrew Workflows" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-id">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_04.png" width="348" height="90" alt="Colorkrew ID" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-security">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_05.png" width="348" height="90" alt="Colorkrew Security" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-aichat">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_06.png" width="348" height="90" alt="Colorkrew AIChat" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#colorkrew-quiz">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_07.png" width="348" height="90" alt="Colorkrew Quiz" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#adv">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_08.png" width="348" height="90" alt="AVD時間割ソリューション" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#goalous">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_09.png" width="348" height="90" alt="goalous" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#service-contract">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_10.png" width="348" height="90" alt="受託開発" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#service-construction">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_11.png" width="348" height="90" alt="クラウド（インフラ）構築" loading="lazy"></figure></a></li>
        <li class="products-item"><a class="item-inner" href="../product/#service-security">
            <figure class="item-image"><img class="image-common" src="../img/contact/products_img_12.png" width="348" height="90" alt="セキュリティ/システム運用監視" loading="lazy"></figure></a></li>
      </ul>
    </div>
  </section>
  <section class="section-contact-agent">
    <div class="wrapper">
      <h2 class="title-common-primary">販売代理店制度</h2>
      <p class="text-common-secondary">プロダクト・サービスについては、専用サイトから直接お問い合わせください。</p>
      <ul class="agent-list">
        <li class="agent-item">
          <div class="item-inner">
            <div class="item-content">
              <figure class="item-image"><img class="image-common" src="../img/contact/agent_img_01.png" width="348" height="90" alt="Colorkrew Biz" loading="lazy"></figure>
            </div>
            <p class="item-text">Colorkrew Biz 販売パートナー制度</p>
          </div>
        </li>
        <li class="agent-item">
          <div class="item-inner">
            <div class="item-content">
              <figure class="item-image"><img class="image-common" src="../img/contact/agent_img_02.png" width="348" height="90" alt="Colorkrew パートナー" loading="lazy"></figure>
            </div>
            <p class="item-text">ビジネスパートナープログラム</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
{{ end }}