<ul class="list-tags js-filter-category">
  <li class="tags-item"><a class="tags-link js-all-category is-active" href="#" data-category-id="">すべて</a></li>
  <li class="tags-item"><a class="tags-link" href="#" data-category-id="プロダクト・サービス">プロダクト・サービス</a></li>
  <li class="tags-item"><a class="tags-link" href="#" data-category-id="プレスリリース">プレスリリース</a></li>
  <li class="tags-item"><a class="tags-link" href="#" data-category-id="取材実績">取材実績</a></li>
  <li class="tags-item"><a class="tags-link" href="#" data-category-id="IR">IR</a></li>
</ul>